<div>
    <div>
        <!-- <iframe width="100%" height="300" [src]="note.url | safe"></iframe> -->
    </div>
    <form>
        <div *ngIf="editTitle" class="form-group">
            <input type="input" class="form-control" name="title" required placeholder="title" 
            [(ngModel)]="note.title">
        </div>
        <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{note.title}}</h3>
        <div class="form-group">
            <input type="input" class="form-control" name="timing" required placeholder="Timing" 
            [(ngModel)]="note.timing">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" name="desc" [(ngModel)]="note.description">
                </textarea>
        </div>
        <button type="button" (click)="updateNote()" class="btn btn-primary">Update</button>
        <button type="button" (click)="deleteNote()" class="btn btn-danger">Delete</button>
    </form>
</div>