<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Notepad</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/notes" routerLinkActive="active">Notes</a>
    </li>
  </ul>
</nav>
<div class="container" style="margin: 20px">
  <router-outlet></router-outlet>
</div>